<div class="about section " id="about">
    <div class="row">
        <div class="section-title padd-15">
            <h2 class="titre">My Profile</h2>     
        </div>
    <div class="container">
        <div class="row">
            <div class="about-text padd-15">
                <h3>I'm Khouloud Taouchikht <span>Software engineering student</span></h3>
                <p>I’m a designer by day, coder by night. Show me the code that you write. 🖥🎨</p>
                
            </div>
        </div>
         <div class="row">
            <div class="section-image padd-15">
                <img src="../../../assets/images/me.jpg" alt="">          
              </div>
        </div>
        <div>
            <div class="row">
                <div class="about-content padd-15">
                        
                        <div class="row">
                            <div class="personal-info padd-15">
                              <div class="row">
                                <div class="info-item padd-15">
                                    <p>
                                        Birthday: <span>06 november 2001</span>
                                    </p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>
                                        Age: <span>21</span>
                                    </p>
                                </div>
                               
                                <div class="info-item padd-15">
                                    <p>
                                        degree: <span>software engineering student</span>
                                    </p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>
                                        phone: <span>+212 777309197</span>
                                    </p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>
                                        city: <span>Rabat</span>
                                    </p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>
                                        Roommate: <span>Available</span>
                                    </p>
                                </div>
                              </div>
                            <div class="skills padd-15">
                                <div class="row">
                                    
                                    <div class="skill-item padd-15">
                                        <h5>HTML</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width:84%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>CSS</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width:54%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>BOOTSTRAP</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width:72%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>JS</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width:47%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>NODE JS</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width:38%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>REACT</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width:74%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>MYSQL/MONGODB/ORACLE</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width:64%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>JAVA</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width:85%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>PYTHON</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width:72%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>UNITY2D/3D</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width:89%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        
    </div>
