.about{
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    
}
.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
   
    
}
.section-image{
    width: 300px;
    height: 300px;
    border: 1px solid #73451F;
    border-radius: 20px;

    
}
 .about-text{
    flex: 0 0 60%;
    max-width: 60%;
}
.about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #73451F;
}
 .about-text h3 span{
    color: #000;
}
.about-text p{
    font-size: 16px;
    line-height: 25px;
    color: #000;
}
.about .about-content .personal-info{
    flex: 0 0 80%;
    max-width: 80%;
   
    margin-top: 40px;
}
.about .about-content .personal-info .info-item{
    flex: 0 0 80%;
    max-width: 80%;
}
.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding:10px 0 ;
    font-size: 16px;
    color: #000;
    border-bottom: 1px solid #73451F;
}
.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color:#73451F;
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .personal-info .buttons{
    margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn{
    margin-right: 15px;
    margin-top: 10px;
}
.about .about-content .skills{
    flex: 0 0 100%;
    max-width: 100%;
    
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}
.about .about-content .skills .skill{
    border: 2px solid #73451F;
    flex: 0 0 20%;
    padding: 10px;

}



@media (max-width:767px){
    .about .about-content .skills,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
        font-size: 14px;

    }
}


.bell-animation {
    color: red;
    cursor: pointer;
  }
  
  
.bell-no-animation {
    color: rgb(5, 5, 5) !important;
    cursor: none;
  }
  
  