
        .container1 {
            background: url("../../../assets/images/background1.png") no-repeat;
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: #000;
            background-position: bottom left;
            margin-top: 100px;
          }
          
          /* Center the parent div and set max width for larger screens */
          .parent {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            max-width: 1280px;
            margin: 0 auto;
          }
          
          /* Set the width and margin of the first column */
          .flex-[1] {
            flex: 1;
            margin-right: 10px;
          }
          
          /* Style the logo image and accolade image */
          .acolade
          {
              display: none;
          }
          
          .w-[266px] {
            width: 266px;
          }
          
          .h-[72.14px] {
            height: 72.14px;
          }
          
          .object-contain {
            object-fit: contain;
          }
          
          /* Style the form container */
          .div5 {
            width: 100%;
            max-width: 400px;
          }
          
          /* Style the form elements */
          form {
            display: flex;
            flex-direction: column;
          }
          
          input[type="text"],
          textarea {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border:2px solid #D0915D;
            background-color: transparent;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            outline: none;
            color: #D0915D;
          }
          
          input[type="submit"] {
            background-color: #C7756F;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
          }
          
          input[type="submit"]:hover {
            background-color: #C7756F;
          }
          
          /* Style the headings */
          h3 {
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: bold;
          }
          
          p {
            margin-bottom: 20px;
            font-size: 18px;
          }
          @media only screen and (max-width: 600px) {
            
            .acolade{
                display: block;
                width: 100%;
            }
           
            
          }
          
          
          
          
          