<div class="container1">
    
    <div class="parent">
        <div class="div1"> 
          <img src="../../../assets/images/logo.png" alt="">
          <p>Want an easy way to toss off dorm problems? Our online claims application offers convenience and security for a  thorough, timely resolution.</p>
        </div>
        <div class="div3"> 
              <h3>Quick link</h3> 
              <a class="link"href="#" ><fa-icon [icon]="faHome"></fa-icon>Home</a>
              <a class="link"href="#" ><i class="fa fa-regular fa-book"></i>Categorie</a>
              <a class="link"href="#" ><fa-icon [icon]="faBullhorn"></fa-icon>Claims</a>
          
        </div>
        <div class="div5">  
              <h3>Contact us</h3> 
              <input type="text" placeholder="Name">
              <input type="email" placeholder="Email" >
              <textarea name="message" id="" cols="10" rows="5" placeholder="message"></textarea>
              <button class="btn1">send</button>

        </div>
        
        </div>
</div>

