<div class="container">
    <div class="title">

        <h2 class="titre">
            Your Claim  --->
        </h2>
        <div class="claim-edit">
                
            <mat-icon>edit</mat-icon>
        </div>
    </div>
    <div class="description">
        <div class="claim-image">
            <img src="../../../assets/images/photo.webp" alt="">
        </div>
        <div class="claim-detail">
            <div class="claim-categorie">
                <h2>Wifi Problem</h2>
            </div>
            <div class="claim-description">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio mollitia optio dolorum dignissimos quia illo natus eaque in itaque. Voluptatibus earum fugit sunt autem vero sit delectus assumenda libero praesentium!</p>
            </div>
        </div>
       
        
    </div>
    <div class="claim-edit">
                
        <button type="submit" class="btn1">delete claim</button>
    </div>
   
</div>
