.nav1{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 30px;
    
    
    
}
img{
    width: 150px;
    justify-self: flex-start;
   
}




