.nav1{
    width: var(--menu-width);
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    margin: 0px auto;
    flex-wrap: wrap;
    top: 1em;
    margin-bottom: 50px;
    
}

.line {
    width: 100%;
  }


img{
    width: 150px;
    margin-left: 30px;
    justify-self: flex-start;
   
}

.alllinks{
    display: flex;
    position: relative;
    top: 10px;
    padding: 1em 1.5em;
    gap: 70px;
    
}

.onelink {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #a37855;
    transition: opacity 0.3s ease-in-out;
}
.onelink:hover {
    opacity: 0.6;
    color: #debfa6;
}

.menu_btn{
    border: #C7756F;
    background: #C7756F;
    padding: 15px ;
    position: relative;
    bottom: 11px;
    box-shadow: 0px 4px 0px rgba(189, 137, 60, 0.25);
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
}
    





.profile{
    width: 50px;
    position: relative;
    bottom: 20px;
    margin-right: 20px;
}


.toggle-menu {
    position: absolute;
    top: 70px;
    right: 30px;
    display: flex;
    justify-content: center;
    z-index:99999999999999;
    width: 130px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.toggle-menu.open {
  opacity: 1;
  transform: translateY(0);
}
  
  .toggle-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .toggle-menu li {
    margin-top: 7px;
    padding: 6px 16px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
  }
  .toggle-menu li:last-child {
    border-bottom: none;
    margin-top: 0px;
  }
  
  .toggle-menu a {
    color: #333;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
  }
  
  .toggle-menu a:hover {
    opacity: 0.6;
    color: #787878;
  }
  
  .menu_btn00{
      border: #C7756F;
      background: #C7756F;
      padding: 15px ;
      position: relative;
      bottom: 20px;
      box-shadow: 0px 4px 0px rgba(189, 137, 60, 0.25);
      border-radius: 10px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      color: #FFFFFF;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
  }
  .menu_btn00:hover{
    transform: scale(1.05);
  }
  .glow-on-hover {
    position: relative;      
    bottom: 20px;
    padding: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    height: 50px;
    outline: none;
    color: #fff;
    border: #C7756F;
    background: #C7756F;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  @media only screen and (max-width: 600px) {
    .glow-on-hover {
      width: 100px;
      font-size: 14px;
    }
  }
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #1b9bbf, #3316c5, #cf72b2, #5915bf, #00ffd5, #002bff, #7a00ff, #ff00c8, #2c9ee5);
    position: absolute;
    top: -4px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-on-hover:active {
    color: #ffffff
  }
  .glow-on-hover:hover {
    transform: scale(1.05);
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #C7756F;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  



