<div class="nav1 ">
  <img class=" h-[40%] mr-[10px] lg:mr-60" routerLink="/"  src="../../../assets/images/logo.png" alt="fast solve">
  <div class="hidden lg:flex alllinks">
    <a  class="onelink " *ngIf="!isAuth" href="#services" >Services</a>
    <a  class="onelink " *ngIf="!isAuth" href="#testimonials" >Testimonials</a>
    <a  class="onelink " *ngIf="!isAuth" href="#contact" >Contact Us</a>
    
    <button routerLink="/ai" *ngIf="isAuth" class="glow-on-hover">Ask AI</button>
    <button routerLink="/claims" *ngIf="isAuth" class="menu_btn00">Your claims</button>
    <button routerLink="/addclaim" *ngIf="isAuth" class="menu_btn00">Add claim</button>

    <button routerLink="/login" *ngIf="!isAuth" class="menu_btn">Sign in</button>
    
    <div class="profile" *ngIf="isAuth" (click)="toggleMenu()">
      <img  src="../../../assets/images/profile.png" alt="fast solve">
    </div>
    
    <div class="toggle-menu" *ngIf="isOpen">
      <ul>
        <li><a href="/profil" >profile</a></li>
        <li><a href="/" (click)="logout()">logout</a></li>
      </ul>
    </div>
  
  </div>
</div>
<div class="line"></div>
    
    <!-- <button routerLink="/login" (click)="logout()" class="btn1">sign out</button> -->
    <!-- <div class="md:block lg:hidden">
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>
      <div [ngbCollapse]="isMenuCollapsed" class="navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" routerLink="/claims" routerLinkActive="active" (click)="isMenuCollapsed = true">
          <a class="nav-link" href="#">Claims</a>
        </li>
      </ul>
    </div>
  </div> -->




  