/* .container{
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
border-radius: 10px;
background-color: #fff;
padding: 20px;

}
.form-group{
    padding: 30px;
}
label{
    width: 293.33px;
    height: 51.55px;    
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    
    color: #73451F; 
}

.input-group-text{
    height: 100px;
    background-color: #f0b686;
    color: #fff;
    border-radius: 0px;
}
.custom-file{
    display: flex;
    align-items:flex-start;

}
.custom-file-input{
    display: none;
}
.custom-file-span{
    width: 32px;
    height: 32px;
    background-color: #73451F;

    border: 1px solid #73451F;
    border-radius: 50%;
    display: flex;
justify-content: center;
align-items: center;

}



fa-icon{
    
   
    color: #fff;
    font-size: 15px;
    line-height: 36px;


} */


body {
  display: grid;
  place-items: center;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Euclid Circular A";
  color: #3a334e;
  animation: rotate 1s infinite alternate linear;
}

body,.wrapper {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
border-radius: 10px;
background-color: #fff;
padding: 20px;
}



button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.control {
  border: 0;
  border-radius: 8px;
  outline: none;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: #edeaf7;
  color: #5a4f79;
  font-family: inherit;
  font-size: 16px;
  transition: 0.4s;
}

.login-card {
  width: 400px;
  padding: 100px 30px 64px;
  border-radius: 1.25rem;
  background: #ffffff;
  text-align: center;
}

.login-card > h2 {
  width: auto;
  font-size: 36px;
  display: inline-block;
  font-weight: 600;
  margin: 0 0 6px;
}

.login-card > h3 {
  color: #837f90;
  margin: 0 0 40px;
  font-weight: 500;
  font-size: 1rem;
}

.login-form {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
}

.login-form input.control::placeholder {
  color: #aaa7bc;
}

.login-form > button.control {
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: #331e6d;
  color: #f9f9f9;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: transform 0.375s ease-in-out;
}
.login-form > button.control:hover {
  transform: scale(1.05);
}
.login-form > button.control22 {
  cursor: pointer;
  margin: auto;
  width: 60%;
  height: 56px;
  padding: 0 16px;
  background: #6b5c95;
  border-radius: 10px 0px 10px 0px;
  color: #f9f9f9;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: transform 0.375s ease-in-out;
}
.login-form > button.control22:hover {
  transform: scale(1.05);
}

.password {
  position: relative;
}

.toggle {
  position: absolute;
  top: 50%;
  right: 16px;
  translate: 0 -50%;
  width: 30px;
  height: 30px;
  background-image: url("show.svg");
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
}

.toggle.showing {
  background-image: url("hide.svg");
}
