<!-- <div class="container">
    <h2 class="titre">
        Login:
    </h2>
    <form (ngSubmit)="userLogin()">
        <div class="form-group">
            <label for="email"> Your ine-mail</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="ine mail" id="email" name="email" [(ngModel)]="user.email">
                
              </div>
              <label for="password"> Your password</label>
              <div class="input-group mb-3">
                  <input id="password" name="password" [(ngModel)]="user.password" type="password" class="form-control" placeholder="password"  >
                  
                </div>
        </div>
      
       
     
        <button type="submit"   class="btn1">login</button>
      </form>
      
</div> -->



  <body>
    <div class="login-card">
      <h2>{{ isTechnicalExpert ? 'Login as Technical Expert' : 'Login as Student' }}</h2>
      <h3>Enter your credentials</h3>
      <form class="login-form" (ngSubmit)="userLogin()">
        <input
          spellcheck="false"
          class="control"
          type="text"
          id="email" 
          name="email" 
          [(ngModel)]="user.email"
          placeholder="email"
        />
        <div class="password">
          <input
            name="password" 
            [(ngModel)]="user.password" 
            spellcheck="false"
            class="control"
            id="password"
            type="password"
            placeholder="Password"
          />
          <button
            class="toggle"
            type="button"
            #passwordButton (click)="togglePassword(passwordButton)"
          ></button>
        </div>
        <button class="control" type="submit" >LOGIN</button>

        <button class="control22" type="button" (click)="toggleLoginType()">
            {{ isTechnicalExpert ? 'Switch to student' : 'Switch to Technical Expert' }}
        </button>
      </form>
    </div>
  </body>

