<div class="container">
    <h2 class="titre">
        Login --->
    </h2>
    <form (ngSubmit)="userLogin()">
        <div class="form-group">
            <label for="email"> Your ine-mail</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="ine mail" id="email" name="email" [(ngModel)]="user.email">
                
              </div>
              <label for="password"> Your password</label>
              <div class="input-group mb-3">
                  <input id="password" name="password" [(ngModel)]="user.password" type="password" class="form-control" placeholder="password"  >
                  
                </div>
        </div>
      
       
     
        <button type="submit"   class="btn1">login</button>
      </form>
      
</div>
