<div class="container1">
    <h2 class="titre">
        {{ text}}
    </h2>
    <div class="parent">
        <div class="div1"> 
          <div class="rectangle">
            <fa-icon  [icon]="faBullhorn"></fa-icon>
          </div> 
          <h3>claim a problem</h3> 
        </div>
        <div class="div3"> 
            <div class="rectangle">
                <fa-icon [icon]="faThumbsUp"></fa-icon>
              </div> 
              <h3>track the status of your claim</h3> 
        </div>
        <div class="div5"> 
            <div class="rectangle">
                <fa-icon [icon]="faLocationDot"></fa-icon>
              </div> 
              <h3>Change your dorms</h3> 
        </div>
        <div class="div7">
            <div class="rectangle">
                <fa-icon [icon]="faUserGroup"></fa-icon>
              </div> 
              <h3>Find a roommate</h3> 
        </div>
        </div>
</div>

