/* @import url('https://fonts.googleapis.com/css2?family=Anybody:wght@200;300;400;700&display=swap');

.parent {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: 2fr 1fr 0fr;
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: column;
        border-right:3px dotted  #D0915D;
        align-items: center;
     }
    .div3 { 
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        border-right:3px dotted  #D0915D;

        flex-direction: column;
    
        align-items: center; }
    .div5 { 
        grid-area: 1 / 3 / 2 / 4;
        display: flex;
        border-right:3px dotted  #D0915D;

        flex-direction: column;
    
        align-items: center; }
    .div7 { 
        grid-area: 1 / 4 / 2 / 5;
        display: flex;

        flex-direction: column;
    
        align-items: center;
     }

    .rectangle{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D0915D;
    border-radius: 25px;
    margin-bottom: 30px;
    }
    fa-icon{
        
       
        color: aliceblue;
        font-weight: 400;
        font-size: 44px;
        line-height: 36px;
    
   
    }
    @media only screen and (max-width: 600px) {
        .parent {
          background-color: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .parent > div {
            border-bottom:3px dotted  #D0915D;
            border-right:0px dotted  #D0915D;
            margin-bottom: 40px;


        }
        
        
        
      } */
      /* Style for the container */
.wrapper{
    background: url("../../../assets/images/service.png") no-repeat;
    background-position: top left;
    

}
.container1 {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    
}
  
  /* Style for the title */
  .titre {
    font-size: 32px;
    margin-bottom: 40px;
    margin-top: 100px;
  }
  
  /* Style for the parent div */
  .parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Style for the child divs */
  .div1,
  .div3,
  .div5,
  .div7 {
    width: 300px;
    margin: 20px;
  }
  
  /* Style for the icon rectangles */
  .rectangle {
    width: 60px;
    height: 60px;
    background-color: #C7756F;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
  }
  
  /* Style for the icons */
  fa-icon {
    font-size: 30px;
    color: #fff;
  }
  
  /* Style for the headings */
  h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 600px) {
    
    .wrapper{
        background: none;
        
    
    }
    
    
  } 