<div class="wrap  ">
    <h3>We suggest you the best roommates for you</h3>
    <div class="box">

        <div class="box-top " style="width: 18rem; " *ngFor="let user of recommended_r">
           
        
            <img class="box-image" src="{{user[2]}}" alt="Card image cap">
            <div class="title-flex">
              <h5 class="box-title">{{user[0]}}</h5>
              <p class="user-follow-info">{{user[1]}}</p>
              <button  (click)="sendInvitation(currentUserId, user[0])" class="button">send invitation</button>
            </div>
          </div>
    </div>
   
  </div>
