<div class="container w-full ">
    <h3>We suggest you the best roommates for you</h3>
    <div class="flex flex-row">

        <div class="card " style="width: 18rem; " *ngFor="let user of recommended_r">
           
        
            <img class="card-img-top" src="{{user[2]}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{user[0]}}</h5>
              <p class="card-text">{{user[1]}}</p>
              <a href="#" class="btn btn-primary">choose as roommate</a>
            </div>
          </div>
    </div>
</div>
