

.parent {
    display: grid;
    padding: 0;
    margin: 0;
    background-size: 100% 90%;
    border: 0px solid #D0915D;
    height: 680px;
    width: 100%;
    font-size: 24px;
    grid-template-columns: 4fr repeat(2, 1fr) 4fr;
    grid-template-rows: 3fr repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    }
    
    .div1 { 
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 100px;
        padding-top: 20px;
        justify-content: center;
     }
     .div1 .title{
        display: none;
     }
     .div1 img {
        width: 400px;
     }
   
    .div3 { 
        grid-area: 1 / 4 / 2 / 5;
        display: flex;
        position: relative;
       

        
    }
    .div3 img {
        width: 550px;
        position: absolute;
        left: 100px;
        
        
        

    }
    .div4 { 
        align-self: flex-end;
     }
     @media only screen and (max-width: 600px) {
        .parent {
          background-color: #fff;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          height: 1000px;
        }
        
        .div3 img{
            width: 350px;
            position: relative;
            margin-right: 550px;
        }
        .div1{
            padding-left: 10px;
        }
        .div1 img{
            display: none;
        }
        .div1 .title{
            display: inline;
        }
        .div4{
            align-self:center;
        }
        
      }